p{font-family: elephant; font-size:20px;text-align: justify; color: white;}
h1, h3{ padding: 4px; border-radius:400%; text-align: center; text-transform: uppercase; background-color: ongered; border: white 2px solid}
image{ position: absolute: right;  }
h2{ border: 30px; color: green; }

background-size: cover;}

